{% extends "admin/base_site.html" %}
{% load static i18n %}
{% block content %}
  <div id="content" class="colM">
    <h1>{{ title }}</h1>

    <form method="post" novalidate>
      {% csrf_token %}
      <div class="module aligned">
        {{ form.as_p }}
      </div>

      <div class="submit-row">
        <input type="submit" value="{% trans 'Uložit' %}" class="default" name="_save">
        <a class="button" href="{% url 'admin:core_hrac_change' original.pk %}">{% trans "Zpět na hráče" %}</a>
      </div>
    </form>
  </div>
{% endblock %}
