# Django
DJANGO_SECRET_KEY=change-me-in-production
DEBUG=True

# Databáze (produkce – Postgres; lokálně se použije SQLite)
# DATABASE_URL=postgres://user:pass@host:5432/dbname

# Hosty
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
# EXTRA_ALLOWED_HOSTS=tscimice.cz,www.tscimice.cz
# EXTRA_CSRF_TRUSTED_ORIGINS=https://tscimice.cz,https://www.tscimice.cz

# E-mail (produkce)
# EMAIL_FORCE_SMTP=True
# EMAIL_HOST=smtp.volny.cz
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=
# DEFAULT_FROM_EMAIL=Tenis Čimice <kptenis@volny.cz>
