{% extends "admin/change_list.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'admin/css/transakce-change-list.css' %}">
  {{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<div id="transakce-changelist-config"
     data-trainings-url="{% url 'admin:core_transakce_trainings_for_day' %}"
     hidden></div>
<script src="{% static 'admin/js/transakce-change-list.js' %}" defer></script>
{% endblock %}

{% block content %}
{{ block.super }}
<div id="transakce-day-trainings" class="transakce-day-trainings-card" style="display:none;">
  <h2 id="transakce-day-trainings-title">Tréninky</h2>
  <div id="transakce-day-trainings-body"></div>
</div>
{% endblock %}